<h1><strong>All Actors</strong></h1>

<%= form_tag actors_path, method: :get do %>
  <div>
    <%= text_field_tag :search, params[:search] %>
    <%= button_tag do %>
      <i class="fa fa-search" aria-hidden="true"></i>
    <% end %>
  </div>
<% end %>

<div id="main-content" class="col-sm-11 col-sm-offset-1">
  <%= render @actors %>
</div>

<div class="col-sm-11 col-sm-offset-1">
  <%= paginate @actors %><br/>
</div>
