<div id="main-content" class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag set_poster_avatar_URL(@movie), class: "poster" %>
        <div class="reviews">
          <div class="star-rating" data-score= <%= @movie.rating %> ></div>
          <div><em><%= "#{@movie.reviews.length} reviews" %></em></div>
        </div>
      </div>
      <div class="col-sm-8">
        <%= @movie.trailer.html_safe %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Title:</strong></td>
                <td><%= @movie.name %></td>
              </tr>
              <tr>
                <td><strong>Movie length:</strong></td>
                <td><%= @movie.duration.strftime("%T") %></td>
              </tr>
              <tr>
                <td><strong>Director:</strong></td>
                <td><%= @movie.director %></td>
              </tr>
              <tr>
                <td><strong>Producer:</strong></td>
                <td><%= @movie.producer %></td>
              </tr>
              <tr>
                <td><strong>Writer:</strong></td>
                <td><%= @movie.writer %></td>
              </tr>
              <tr>
                <td><strong>Rating:</strong></td>
                <td><%= @movie.rating %></td>
              </tr>
              <tr>
                <td><strong>Actors:</strong></td>
                <td>
                  <ol>
                    <% @movie.actors.each do |actor| %>
                      <li><%= actor.name %></li>
                    <% end %>
                  </ol>
                </td>
              </tr>
            </tbody>
          </table>
          <% if user_signed_in? %>
            <%= set_favourites_links(@movie) %>
            <% if @review.blank? %>
              <%= link_to new_movie_review_path(@movie), remote: true do %>
                <button class="btn btn-success favourites">Add a Review</button>
              <% end %>
            <% end %>
          <% end %>
          <div id="review-form" style="display:none;"></div>
        </div>
      </div>
      <div class="col-sm-7 col-sm-offset-1">
        <h1 class="review_title"><strong><%= @movie.name %></strong></h1>
        <p><%= @movie.description.html_safe %></p>
        <div id="reviews">
          <% if @movie.reviews.present? %>
            <% @movie.reviews.each do |review| %>
              <%= render partial: "reviews/review", locals: { movie: @movie, review: review} %>
            <% end %>
          <% end %>
        </div>
      </div>
      <%= render partial: "reports/dialog" %>
    </div>
  </div>
</div>
