<div class="container" id="main-content">
    <div class="row">
        <div class="col-sm-4 col-lg-4">
          <%= image_tag @movie.posters.first.avatar.url, class: "poster" %>
        </div>
        <div class="col-sm-8 col-lg-8">
          <%= @movie.trailer.html_safe %>
        </div>
    </div>
    <div class="row" class="form-control" id="actor-description">
      <div class="col-sm-12 col-md-12">
        <h1><%= @movie.name %></h1>
        <p><i><small><%= @movie.description.html_safe %></small></i></p>
        <p></i><%= @movie.release_date %></p>
      </div>
    </div>
</div>
