<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div id="col" class="col-md-11">
        <%= @movie.trailer.html_safe %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag setPosterAvatarURL(@movie), class: "poster" %>
        <div class="reviews">
          <div class="star-rating" data-score= <%= @movie.rating %> ></div>
          <div><em><%= "#{@movie.reviews.length} reviews" %></em></div>
        </div>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Title:</strong></td>
                <td><%= @movie.name %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @movie.description.html_safe %></td>
              </tr>
              <tr>
                <td><strong>Movie length:</strong></td>
                <td><%= @movie.duration %></td>
              </tr>
              <tr>
                <td><strong>Director:</strong></td>
                <td><%= @movie.director %></td>
              </tr>
              <tr>
                <td><strong>Rating:</strong></td>
                <td><%= @movie.rating %></td>
              </tr>
              <tr>
                <td><strong>Actors:</strong></td>
                <td>
                  <ul>
                    <% @movie.actors.each do |actor| %>
                      <li><%= actor.name %></li>
                    <% end %>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
          <% if user_signed_in? %>
            <%= link_to new_movie_review_path(@movie), remote: true do %>
              <button class="btn btn-default">New</button>
            <% end %>
            <div id="review-form" style="display:none;"></div>
          <% end %>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1 class="review_title"><%= @movie.name %></h1>
        <p><%= @movie.description.html_safe %></p>
        <div id="reviews">
          <% if @movie.reviews.present? %>
            <% @movie.reviews.each do |review| %>
              <%= render partial: "reviews/review", locals: { movie: @movie, review: review} %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
