<%= form_for([:admin, @actor]) do |form| %>
  
  <% if @actor.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@actor.errors.count, "error") %> prohibited
        this actor from being saved:
      </h2>
      <ul>
        <% @actor.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  
  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.date_select :date_of_birth %>
  </div>
  
  <div class="field">
    <%= form.label :bio %>
    <%= form.cktext_area :bio, rows: 15 %>
  </div>
  
  <div class="field">
    <%= form.label :picture %> 
    <%= form.file_field :avatar %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
