<%= form_for([:admin, @movie]) do |form| %>
  
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name%>
  </div>
  
  <div class="field">
    <%= form.label :genre %>
    <%= form.text_field :genre%>
  </div>
  
  <div class="field">
    <%= form.label :duration %>
    <%= form.time_select :duration%>
  </div>
  
  <div class="field">
    <%= form.label :description %>
    <%= form.cktext_area :description, rows: 15%>
  </div>
  
  <div class="field">
    <%= form.label :release_date %>
    <%= form.date_select :release_date%>
  </div>

  <div class="field">
    <%= form.label :trailer %>
    <%= form.text_field :trailer %>
    <span class="help-block">A link to the video on YouTube.</span>
  </div>

  <div>
    <p><strong>Posters:</strong></p>
    <%= form.fields_for :posters do |poster| %>
      <%= render 'poster_fields', f: poster %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add poster', form, :posters %>
    </div>  
  </div>

  <div class="field">
    <%= form.label :actor_ids, "Actors" %><br />
    <%= form.collection_select :actor_ids, Actor.order(:name), :id, :name, {}, {multiple: true} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
