<%= form_for([:admin, @movie]) do |form| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:
      </h2>
      <ul>
        <% @movie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, required: true, minlength: 2 %>
  </div>

  <div class="field">
    <%= form.label :genre %>
    <%= form.text_field :genre, required: true %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.time_select :duration, required: true %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.cktext_area :description, rows: 15, required: true %>
  </div>

  <div class="field">
    <%= form.label :release_date %>
    <%= form.date_select :release_date, start_year: 1900, required: true %>
  </div>

  <div class="field">
    <%= form.label :trailer %>
    <%= form.text_field :trailer, required: true %>
  </div>

  <div>
    <p><strong>Posters:</strong></p>
    <%= form.fields_for :posters do |poster| %>
      <%= render 'poster_fields', f: poster %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add poster', form, :posters %>
    </div>  
  </div>

  <div class="field">
    <%= form.label :actor_ids, "Actors" %><br />
    <%= form.collection_select :actor_ids, @actors, :id, :name, {}, {multiple: true, class: 'movie-actor-ids'} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
