<h1>Name: <%= @movie.name %></h1>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre %>
</p>
 
<p>
  <strong>Duration:</strong>
  <%= @movie.duration %>
</p>

<p>
  <strong>Release Date:</strong>
  <%= @movie.release_date %>
</p>


<p>
  <strong>Description:</strong>
  <%= @movie.description.html_safe %>
</p>

<p>
  <strong>Actors:</strong>
  <ul>
    <% @movie.actors.each do |actor| %>
      <li><%= actor.name %></li>
    <% end %>
  </ul>
</p>

<div>
  <strong>Trailer:</strong><br />
  <%= @movie.trailer.html_safe %>
</div>

<div>
  <strong>Posters:</strong><br />
  <% @movie.posters.each do |poster| %>
    <%= image_tag poster.avatar.url %>
  <% end %>
</div>
