<h1>Name: <%= @movie.name %></h1>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre %>
</p>
 
<p>
  <strong>Duration:</strong>
  <%= @movie.duration %>
</p>

<p>
  <strong>Release Date:</strong>
  <%= @movie.release_date %>
</p>


<p>
  <strong>Description:</strong>
  <%= @movie.description.html_safe %>
</p>

<div>
  <strong>Trailer:</strong><br />
  <iframe src='https://www.youtube.com/embed/<%= @youtube_id %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder='0' allowfullscreen></iframe>
</div>

<div>
  <strong>Posters:</strong><br />
  <% @movie.posters.each do |poster| %>
    <%= image_tag poster.avatar.url %>
  <% end %>
</div>
