<div class="container" id="sign-up-box">
  <div class="row">
    <div class="col-sm-3 col-md-3">
      <%= image_tag set_user_avatar_URL(@user), class: "poster img-thumbnail" %>
    </div>
    <div class="col-sm-9 col-md-9">
      <h2><strong>Name: <%= @user.name %></strong></h2>
      <p>
        <strong>Status:</strong>
        <%= @user.status %>
      </p>
      <p>
        <strong>Date Of Birth:</strong>
        <%= @user.date_of_birth.strftime("%F") %>
      </p>
      <p>
        <strong>Phone No:</strong>
        <%= @user.phone_no %>
      </p>
      <strong>Favourites:</strong>
      <ol>
        <% @movies.each do |favourite| %>
          <li><%= link_to favourite.name, movie_path(favourite) %></li>
        <% end %>
      </ol>
    </div>
  </div>
</div>
