<div class="reviews">
  <div class="star-rating" data-score= <%= review.rating %> ></div>
  <p><%= review.comment %></p>
  <%= edit_link_for_review(review) %>
  <%= delete_link_for_review(review) %>
  <%= report_link_for_review(review) %>
</div>
